* {
    padding: 0;
    margin: 0;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

html {
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    display: none;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Fix images behavior - block elements have no width and height by default */
img {
    display: block;
    width: 100%;
    height: auto;
}

li {
    list-style: none;
}
