.error {
    color: red;
    font-size: 10px;
    width: fit-content;
    display: inline;
    align-self: flex-end;
    margin-right: 3em;
}

.footer {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    margin-top: 1em;
}
