.sidebarMenu {
    display: none;
    padding-top: 14px;
    min-width: 150px;
    flex: 0 0 max(15dvw);
    background: var(--white-color);
    height: calc(100dvh - 40px);

    .nav {
        list-style: none;
        position: relative;
        height: calc(100dvh - 54px);
        padding: 0;
        margin: 0;

        li:last-child {
            position: absolute;
            bottom: 1em;
            width: 100%;
        }
    }
}

.featureBox {
    background-color: var(--section-bg-color);
    border-radius: var(--border-radius-medium);
    margin: 1em;
    text-align: center;

    a {
        border: 1px solid var(--primary-color);
        margin-left: 0em;
        padding: 0.5em 1em;
        margin-bottom: 1em;
        color: var(--primary-color);
        border-radius: var(--border-radius);

        font-weight: 500;
        background-color: transparent;
        transition: all 0.1s;
    }
}

.featureBox img {
    display: block;
    margin: auto;
    margin-bottom: 0.5em;
    width: 90px;
    height: auto;
}

@media (min-width: 900px) {
    .sidebarMenu {
        display: block;
    }
}
