:root {
    --active-color: #e5e5e6;
    --white-color: #ffffff;
    --primary-color: #007bff;

    --border-radius: 0.25em;
    --border-radius-medium: 0.5em;
    --border-radius-large: 1em;
}

.sidebarMenu {
    display: none;
    padding-top: 14px;
    min-width: 150px;
    flex: 0 0 max(15dvw);
    background: var(--white-color);
    height: calc(100dvh - 40px);

    .nav {
        list-style: none;
        position: relative;
        height: calc(100dvh - 54px);
        padding: 0;
        margin: 0;

        li:last-child {
            position: absolute;
            bottom: 1em;
            width: 100%;

            a {
                background-color: transparent;
                color: var(--primary-color);

                &:hover {
                    background-color: var(--active-color);
                }
            }
        }
    }
}

.featureBox {
    background-color: var(--section-bg-color);
    border-radius: var(--border-radius-medium);
    margin: 1em;
    text-align: center;

    a {
        border: 1px solid var(--primary-color);
        margin-left: 0em;
        padding: 0.5em 1em;
        margin-bottom: 1em;
        color: var(--primary-color);
        border-radius: var(--border-radius-small);

        font-weight: 500;
        background-color: transparent;
        transition: all 0.1s;
    }
}

.featureBox img {
    display: block;
    margin: auto;
    margin-bottom: 0.5em;
    width: 90px;
    height: auto;
}

@media (min-width: 900px) {
    .sidebarMenu {
        display: block;
    }
}
