.signup {
    align-self: center;
}

.formContainer {
    background: #fff;
    border-radius: var(--border-radius-medium);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    min-width: 200px;
    align-self: center;
    margin: 0 auto;
}

.formContainer input:hover,
.formContainer input:focus {
    border-color: var(--primary-hover-color);
}

.formContent {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.formContent header {
    margin-bottom: 2rem;
    align-self: center;
}
