.error {
    color: red;
    font-size: 10px;
    width: fit-content;
    display: inline;
    align-self: flex-end;
    margin-right: 3em;
}

.signup {
    padding-top: 0.2em;
    align-self: center;
    font-size: small;
}
