.signup {
    align-self: center;
}

.formContainer {
    background: #fff;
    border-radius: var(--border-radius-medium);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    align-self: center;
    margin: 0 auto;

    header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5em;
    }
}

.formContainer input:hover,
.formContainer input:focus {
    border-color: var(--primary-color);
}

.formContent {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.formContent header {
    margin-bottom: 2rem;
    align-self: center;
}
