
.home {
    /* aling items in the center of page */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: 800;
    font-family: 'Montserrat Alternates'
}

.home div {
    margin:10rem 25rem 10rem 10rem;
    display: flex;
    justify-content: center;
    align-items:center;
}

.home-mini-finance h3{ 
    font-size: 24px;
}

.bi-box {
    font-size: 24px;
    font-weight: 400;
}