/*---------------------------------------
  CUSTOM FORM               
-----------------------------------------*/

.form-container {
    background: #fff;
    border-radius: var(--border-radius-medium);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    min-width: 500px;
    align-self: center;
    margin: 0 auto;
}

.form-content {
    padding: 2rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.form-content input:not(.button-primary) {
    height: 35px;
    width: auto;
    padding: 0 12px;
    font-size: 14px;
    margin-bottom: 0.5rem;
    margin-left: 0rem;
    border: 1px solid #ddd;
    border-radius: var(--border-radius-small);
    outline: none;
}

.form-content label {
    padding: 0 11px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.custom-form {
    display: inline-flex; 
    flex-direction: column;
    gap: 1em;
}
.custom-form .form-content {
    color: var(--p-color);
    border-radius: var(--border-radius-large);
    font-size: var(--menu-font-size);
    font-weight: var(--menu-font-weight);
    margin-bottom: 24px;
    padding: 6px 20px;
    outline: none;
    transition: all 0.3s;
}

.form-container input:hover,
.form-container input:focus {
    border-color: var(--primary-hover-color);
}

form input[type="radio"] {
    width: 1em;
    height: 1em;
    border: 0px;
    margin: 0;
}

form label {
    font-size: 14px;
}
.form-content header {
    margin-bottom: 2rem;
    align-self: center;
}

.form-content footer {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}