.headerContainer {
    display: flex;
    flex: 0 0 max(40px);
    justify-content: space-between;
    align-items: center;
    justify-items: center;

    background-color: var(--heading-color);
    max-height: 100%;
    padding: 0 1em;
}
