.modal-background {
    width: calc(100% - 320px);
    height: calc(100% - 44px);
    background: rgba(0, 0, 0, 0.5);

    position: fixed;
    z-index: 3;
    left: 320px;
    top: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container {
    width: 500px;
    height: 500px;
    transition: all 150ms ease-in-out;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.modal-container .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

.modal-header {
    display: flex;
    justify-content: flex-end;
}
.modal-header h5 {
    flex: auto;
}

.modal-header button {
    background-color: var(--secondary-color);
    border: none;
    font-size: 20px;
    margin: 0;
    padding: 0em 0.5em;
    cursor: pointer;
}

.modal-body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
}

.modal-footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-footer button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: var(--custom-btn-bg-color);
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}

#cancelBtn {
    background-color: crimson;
}
