.registerContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media (min-width: 700px) {
    .registerContainer {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
}
