.sendMoneyContainer {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow: visible;
    gap: 0.4em;

    .notFound {
        display: inline;
        font-style: italic;
        color: #eee;
    }
}
