.content-container {
    display: flex;
    flex: 1 1 auto;
}

.bento-main-column {
    margin: 0.5em 0.25em 0em 0.5em;
    flex: 1 1 400px;
    
}

.bento-side-column {
    margin: 0.5em 0.5em 0em 0.25em;
    flex: 2 1 max(250px);
    
}

.bento-fill-column {
    margin: 0.5em 0.25em 0em 0.25em;
    flex: 1 1 300px;    
    
}

.exchange-block-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(184, 184, 184);
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    
}

.exchange-block-wrapper-last {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.currency-wrapper {
    display: flex;
    align-items: center;
}

.transactions-box-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1em;
}

.transactions-profile-wrapper {
    display: flex;
    align-items: center;
}

.transactions-amount-info {
    margin-left: auto;
}