.customBlockProfileImage {
    border-radius: var(--border-radius-large);
    display: block;
    /* margin: auto; */
    width: 95.71px;
    height: 95.71px;
    object-fit: cover;
}

.customBlockProfileImageWrap {
    max-width: 100px;
    margin: auto;
    position: relative;
    margin-bottom: min(0.5em);
}

.customBlockEditIcon {
    background: var(--custom-btn-bg-color);
    border-radius: var(--border-radius-large);
    color: var(--primary-hover-color);

    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
}

.customBlockEditIcon:hover {
    background: var(--primary-hover-color);
    color: var(--white-color);
}

.customBlockProfile .customBlockEditIcon {
    position: absolute;
    bottom: 0;
    right: 0;
}

.attributeWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;

    p {
        color: var(--heading-color);
        margin: 0;
        padding: 0;
        display: block;
        transition: all 0.3s ease;
    }

    a {
        color: var(--heading-color);
        text-decoration: underline;
        display: block;
        transition: all 0.3s ease;
    }

    a:hover {
        color: var(--primary-hover-color);
    }

    a:active {
        transform: scale(0.98);
    }
}
