.customBlockBalance::before {
    content: '';
    background: var(--third-bg-color);
    background: #ff0000;
    border-radius: 100%;
    width: 135px;
    height: 135px;
    position: absolute;
    top: -65px;
    right: -35px;
    transform: rotate(-25deg);
}

.customBlockBalance::after {
    content: '';
    background: var(--primary-color);
    background: #ffa500;
    border-radius: 100%;
    width: 125px;
    height: 125px;
    position: absolute;
    top: -70px;
    right: -30px;
    transform: rotate(-25deg);
}

.customBlockBalance small {
    color: var(--p-color);
    font-size: var(--card-title-font-size);
    font-weight: 500;
    text-transform: uppercase;
}

.customBlockNumbers {
    margin-bottom: 10px;
}

.customBlockNumbers span {
    color: var(--black-color);
    vertical-align: middle;
    font-size: var(--p-font-size);
    margin-right: 10px;
    top: 3px;
}
