.modalBackground {
    width: calc(100% - 320px);
    height: calc(100% - 46px);
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 2;
    left: 320px;
    top: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContainer {
    width: 40%;
    transition: all 150ms ease-in-out;
    border-radius: 1em;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0.3em 1em;
    padding: 1em;
    margin: 0 auto;
}

.modalContainer .title {
    text-align: center;
    margin-top: 1em;
}

.modalHeader {
    display: flex;
    justify-content: flex-end;
}
.modalHeader h5 {
    flex: auto;
}

.modalHeader button {
    background-color: var(--secondary-color);
    border: none;
    border-radius: 0.4em;
    text-align: center;
    font-size: 0.8em;
    height: 1.6em;
    margin: 0;
    padding: 0em 0.5em;
    cursor: pointer;
}

.modalOptions {
    border: 1px solid #ddd;
    border-radius: 0.4em;
    padding: 0.5em;
    margin-top: 0.5em;
}
