.upgradeWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: var(--section-bg-color);
}
.container {
    text-align: center;
}
.plans {
    display: flex;
    margin-top: 2em;
    gap: 1em;
}

.plan {
    padding: 2em;
    border: 0.1em solid var(--border-color);
    border-radius: 1em;
    background-color: var(--white-color);
    box-shadow: 0 0.3em 1em rgba(0, 0, 0, 0.1);
    width: 300px; 
    height: 400px;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.plan:hover {
    transform: scale(1.05);
}

.list {
    list-style:circle;
    text-align: left;
    padding-left: 1em;
    margin-top: 1em;
}

.bentoMainColumn {
    flex: 1 0 min(200px);
    flex-direction: column;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.bentoGridPlans {
    flex: 1 0 200px;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.bentoCell {
    flex: 1 0 200px;
}

.bentoFillColumn {
    flex: 4 0 min(200px);
    flex-direction: column;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.bentoSideColumn {
    flex: 0 0 max(200px);
    flex-direction: column;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 1em;
    gap: 0.5em;
    height: calc(100vh - 80px);
}
.contentContainerProfileTab {
    display: flex;
    width: 100vw;
    margin: 1em;
    gap: 0.5em;
    height: calc(100vh - 80px);
}

@media (min-width: 800px) {
    .contentContainer {
        flex-direction: row;
    }
}
@media (min-width: 1100px) {
    .contentContainer {
        flex-direction: row;
    }
    .bentoSideColumn {
        flex: 0 0 max(200px);
    }
}