.customBlock {
    background: var(--secondary-color);
    border-radius: var(--border-radius-component);
    position: relative;
    overflow: hidden;
    padding: 1em;
}

.profileImage {
    border-radius: var(--border-radius-medium);
    width: 50px;
    height: 50px;
}

.customBlockProfileImage {
    border-radius: var(--border-radius-large);
    display: block;
    /* margin: auto; */
    width: 95.71px;
    height: 95.71px;
    object-fit: cover;
}

.profileRounded {
    background: var(--white-color);
    border-radius: var(--border-radius-medium);
    display: flex;
    width: 40px;
    height: 40px;
}

.sendMonkeyContainer {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow: visible;
    gap: 0.4em;
}

.profileRoundedIcon {
    width: 50px;
    height: 50px;
    color: var(--primary-bg-color);
}

.profileRoundedIcon:hover {
    color: var(--heading-color);
    background-color: whitesmoke;
}

.customBlockProfileImageWrap {
    max-width: 100px;
    margin: auto;
    position: relative;
    margin-bottom: min(0.5em);
}

.customBlock h2,
.customBlock p {
    position: relative;
    z-index: 1;
}

.customBlockBalance::before {
    content: '';
    background: var(--third-bg-color);
    background: #ff0000;
    border-radius: 100%;
    width: 135px;
    height: 135px;
    position: absolute;
    top: -65px;
    right: -35px;
    transform: rotate(-25deg);
}

.customBlockBalance::after {
    content: '';
    background: var(--primary-color);
    background: #ffa500;
    border-radius: 100%;
    width: 125px;
    height: 125px;
    position: absolute;
    top: -70px;
    right: -30px;
    transform: rotate(-25deg);
}

.customBlockEditIcon {
    background: var(--custom-btn-bg-color);
    border-radius: var(--border-radius-large);
    color: var(--primary-hover-color);

    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
}

.customBlockEditIcon:hover {
    background: var(--primary-hover-color);
    color: var(--white-color);
}

.customBlockProfile .customBlockEditIcon {
    position: absolute;
    bottom: 0;
    right: 0;
}

.customBlock.sectionBg,
.sectionBg {
    background-color: var(--section-bg-color);
}

.customBlock.primaryBg {
    background: var(--primary-bg-color);
    overflow: visible;
}

.primaryBg {
    overflow: visible;
}

.customBlockBottom {
    background: var(--third-bg-color);
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 1.4em;
    overflow: visible;
}

.customBlock.customBlockBottom small {
    text-transform: none;
}

/* ------------------------------------------------- */

.customBlockIcon {
    position: relative;
    color: var(--white-color);
    background: var(--primary-hover-color);
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 1em;
    padding: 8px 12px;
    cursor: pointer;
    overflow: visible;
}

.customBlockIcon:hover {
    color: var(--primary-hover-color);
    background: var(--custom-btn-bg-color);
}

.customBlockIcon:hover::before {
    opacity: 1;
    top: -50px;
}

.customBlock p {
    color: var(--black-color);
    margin-bottom: 0;
}

.customBlock small {
    color: var(--p-color);
    font-size: var(--btn-font-size);
    letter-spacing: -0.5px;
    text-transform: lowercase;
}

.customBlockBalance small {
    color: var(--p-color);
    font-size: var(--card-title-font-size);
    font-weight: 500;
    text-transform: uppercase;
}

.customBlockNumbers {
    margin-bottom: 10px;
}

.customBlockNumbers span {
    color: var(--black-color);
    vertical-align: middle;
    font-size: var(--p-font-size);
    margin-right: 10px;
    top: 3px;
}

.customBlockImage {
    border: 10px solid var(--primary-color);
    border-radius: 100%;
    position: absolute;
    top: -60px;
    right: 20px;
    left: 0;
    width: 120px;
    height: 120px;
    margin: auto;
    object-fit: cover;
}

.customBlockExchange,
.custom-block-contact {
    background: var(--third-bg-color);
}

.customBlockExchange .border-bottom {
    border-bottom: 1px solid #c6e5e7 !important;
}

.customBlockExchange h6 {
    font-size: var(--menu-font-size);
    font-weight: var(--font-weight-normal);
}

.customBlockExchange p + h6 {
    color: var(--p-color);
}

.customBlockContact {
    flex: initial;
    background: var(--secondary-color);
    border-radius: var(--border-radius-component);
    position: relative;
    overflow: hidden;
    padding: 1em;
}

.customBlockExchange,
.customBlockContact {
    background: var(--third-bg-color);
}

.customBlockExchange .border-bottom {
    border-bottom: 1px solid #c6e5e7 !important;
}

.customBlockExchange h6 {
    font-size: var(--menu-font-size);
    font-weight: var(--font-weight-normal);
}

.customBlockExchange p + h6 {
    color: var(--p-color);
}

.exchangeImage {
    border-radius: var(--border-radius-small);
    width: 20px;
    height: auto;
    aspect-ratio: 2/1;
    object-fit: cover;
    margin-right: 10px;
}

.customBlockTransactions p {
    font-size: var(--menu-font-size);
    margin-bottom: 0;
}

.customBlockTransactions small {
    text-transform: none;
}

.customBlockTransactions p a {
    color: var(--black-color);
}

.customBlockTransactions p a:hover {
    color: var(--primary-color);
}

.customBlockTransactionDetails h6,
.customBlockTransactionDetailsItem p {
    font-size: var(--menu-font-size);
}

.customBlockTransactionDetailsItem {
    flex: auto;
}

.customBlockFaq p {
    font-size: var(--menu-font-size);
}

.customBlockContact p a {
    color: var(--heading-color);
}

.customBlockContact p a:hover {
    color: var(--white-color);
}
