.customBlock {
    background: var(--secondary-color);
    border-radius: var(--border-radius-component);
    position: relative;
    overflow: hidden;
    padding: 1em;
}

.searchForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
    align-items: center;
}
