.friendsForm {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0.5em;

    label {
        flex: 0 0 40px;
    }
}

.customBtn {
    background: var(--custom-btn-bg-color);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-weight: var(--font-weight-bold);
    transition: all 0.1s;
    /*  line-height: normal;
    padding: 6px 20px;
    text-align: center;
    width: 100%; */
}

.customBtn:hover {
    background: var(--primary-color);
    color: var(--white-color);
    border-color: var(--primary-color);
}
