.home-container {
    background: linear-gradient(
        to right,
        #b3cde0,
        #6497b1
    ); /* Lighter blue gradient */
    width: 100dvw;
    height: calc(100dvh - 80px);
    padding: 0 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.text-container {
    /* aling items in the center of page */

    flex: 0 0 max(35%);
    display: flex;
    height: 500px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.image-container {
    flex: 0 0 55%;
    height: fit-content;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button-container {
    width: 100%;
    margin-bottom: 10em;
    display: flex;
    justify-content: stretch;
    gap: 2em;
}
