.home-container {
    background: linear-gradient(
        to right,
        #b3cde0,
        #6497b1
    ); /* Lighter blue gradient */
    width: 100dvw;
    height: 100dvh - 25px;
    display: flex;
}

.text-container {
    /* aling items in the center of page */
    flex: 1;
    display: flex;
    flex-direction: column;
}

.first-title-container {
    margin: 13rem 5em 0em 6em;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1em;
    align-items: start;
}
.button-container{
    display: flex;
    gap: 1em;
}
.second-title-container {
    margin-right: 5em;
}
.image-container {
    align-self: center;
    width: 42dvw;
    margin-right: 5em;
}