/* .custom-block-profile p {
    font-size: var(--menu-font-size);
    padding-bottom: 0.3em;
}

.custom-block-profile span,
.custom-block-profile p a {
    color: var(--p-color);
    max-width: 200px;
}

.custom-block-profile p a:hover {
    color: var(--primary-color);
}

.custom-block-profile strong {
    min-width: 125px;
    margin-right: 10px;
}

.custom-block-profile-front .custom-block-profile-image-wrap {
    max-width: 130px;
}

.custom-block-profile-front .custom-block-profile-image {
    width: 130px;
    height: 130px;
}

.custom-block-profile-front .custom-block-edit-icon {
    bottom: 10px;
}

.custom-block-profile-front .custom-block-profile-image,
.custom-block-profile-image {
    width: 100px;
    height: 100px;
}

.custom-block-profile .custom-block-edit-icon {
    bottom: 10px;
}

/*---------------------------------------
  PROFILE IMAGE              
-----------------------------------------*/

.custom-block-profile-image {
    border-radius: var(--border-radius-large);
    display: block;
    margin: auto;
    width: 95.71px;
    height: 95.71px;
    object-fit: cover;
}

.custom-block .profile-image {
    border-radius: var(--border-radius-medium);
    width: 55px;
    height: 55px;
    margin-right: 10px;
}

.profile-rounded {
    background: var(--white-color);
    border-radius: var(--border-radius-medium);
    display: inline-block;
    vertical-align: top;
    width: 64px;
    height: 64px;
    text-align: center;
}

.profile-rounded-icon {
    font-size: var(--h2-font-size);
}

.custom-block-profile-image-wrap {
    max-width: 100px;
    margin: auto;
    position: relative;
    margin-bottom: 2em;
} */
