/* .empty {
    font-family: var(--body-font-family);
    margin-bottom: 20px;
}
*/

.customBtn {
    background: var(--custom-btn-bg-color);
    border: 1px solid var(--primary-hover-color);
    border-radius: var(--border-radius-small);
    color: var(--primary-hover-color);
    font-size: 1em;
    font-weight: var(--font-weight-bold);
    line-height: normal;
    transition: all 0.1s;
    padding: 6px 20px;
    height: 2.2em;
}

.customBtn:hover {
    background: var(--primary-hover-color);
    color: var(--white-color);
    border-color: var(--primary-hover-color);
} 
