/*---------------------------------------
  HEADER PAGE              
-----------------------------------------*/
.header-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
}

.bi-box {
    font-size: 20px;
    font-weight: 400;
    margin-left: 1em;
    color: black;
}

.header-dropdown-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container {
	flex: 0 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}