/*---------------------------------------
  HEADER PAGE              
-----------------------------------------*/
.header-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
}

.logo {
    margin-left: 2em;
    margin-top: 0.3em;
    height: 3em;
    
}
.button-login {
    
    color: #ccdde2ff;
    font-size: 1em; 
    font-weight: 500;
    cursor: pointer;
    transition: 0.4s;
    margin-bottom: 0em;
    margin-top: 0em;
    padding: 6px 10px 0px 10px;
    height: 2.2em;
    border: 1px solid #ccdde2ff;
    border-radius: var(--border-radius-small);
}

.button-login:hover{
    color: var(--primary-color);
    border-color: transparent;
    border: 1px solid var(--primary-color);
    border-top-left-radius: var(--border-radius-small);
    border-bottom-left-radius: var(--border-radius-small);
    
}

.header-dropdown-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container {
	flex: 0 0 50px;
    display: flex;
    background-color: var(--heading-color);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
}