.transactionsBoxWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    padding: 0.3em 0em;
}

.detailsBox {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
}

.detailsWrapper {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    flex-direction: column;
    width: calc(100% - 60px);
}

.historyDetailsWrapper {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    flex-direction: column;
    width: calc(100% - 60px);
}

.profileImage {
    border-radius: var(--border-radius-medium);
    width: 50px;
    height: 50px;
}
