.dropdown-menu.notifications-block-wrap {
    min-width: 465px;
  }
  
  .notifications-block-wrap small {
    background: var(--custom-btn-bg-color);
    display: block;
    padding: 15px 30px;
    margin-top: -15px;
    margin-bottom: 10px;
  }
  
  .notifications-block p {
    font-size: var(--btn-font-size);
    margin-bottom: 0;
  }
  
  .notifications-block span {
    white-space: normal;
  }
  
  .dropdown .notifications-block .dropdown-item:hover {
    background: transparent;
    color: var(--dark-color);
  }
  
  .notifications-icon-wrap {
    background: var(--section-bg-color);
    border-radius: var(--border-radius-medium);
    width: 32px;
    min-width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    margin-right: 10px;
  }
  
  .notifications-icon {
    font-size: var(--p-font-size);
    color: var(--white-color);
  }