.list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5em;
}

.title {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-wrap: balance;
    overflow-wrap: break-word;
    margin-bottom: 0.5em;
    border-bottom: 1px solid var(--p-color);

    p {
        margin: 0;
        padding: 0;
        color: var(--p-color);
        font-size: 1em;
    }
}
