main {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.main-wrapper {
    background: var(--section-bg-color);
    max-height: calc(100dvh - 30px);
    display: flex;
    width: 100dvw;
}

.ant-app {
    background-color: var(--white-color);
    font-family: var(--body-font-family);
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}
