.suggestion-box {
  border-bottom: 1px solid var(--border-color);
  padding: 0.5rem;
}

.no-suggestions {
  color: var(--border-color);
  text-align: left;
  padding-left: 0.8em;
}

.suggestions {

  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: auto;
}

.suggestions li {
  text-align: start;
  padding-left: 0.8em;
  
}

.suggestions-wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  /* border-top-style: none; */
  border-bottom-left-radius: 0.8em;
  border-bottom-right-radius: 0.8em;
  border-top-right-radius: 0.8em;
  border-top-left-radius: 0.8em;
}

.suggestion-active,
.suggestions li:hover {
  color: var(--primary-color);
  cursor: pointer;
  font-weight: 500;
  
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid var(--border-color);
  
}