/*---------------------------------------
  SITE FOOTER              
-----------------------------------------*/
.site-footer {
    height: 60px;
    border-top: 1px solid #ddd;
}



.copyright-text {
    font-size: var(--copyright-font-size);
}

.label {
    font-size: 12px;
}

.footer-container {
    width: fit-content;
    margin: 0 auto;
    height: max-content;
}
