/*---------------------------------------
  SITE FOOTER              
-----------------------------------------*/
.site-footer {
    border-top: 1px solid #ddd;
    background-color: #eeeeee;
    flex: 0 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright-text {
    font-size: var(--copyright-font-size);
    color: var(--logo--text-color);
    font-weight: 500;
}

.label {
    font-size: 12px;
}


