.content-container {
    display: flex;
    width: 100dvw;
    margin: 1em;
    gap: 0.5em;
    height: calc(100dvh - 120px);
}

.content-container > div {
    display: flex;
    gap: 0.5em;
    flex: auto;
}

.bento-main-column {
    flex: 4 0 300px;
    flex-direction: column;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.bento-fill-column {
    flex: 2 0 200px;
    flex-direction: column;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.bento-side-column {
    flex: 1 0 200px;
    flex-direction: column;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.custom-block-contact {
    flex: initial;
}

.exchange-block-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(184, 184, 184);
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}

.exchange-block-wrapper-last {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.currency-wrapper {
    display: flex;
    align-items: center;
}

.transactions-box-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1em;
}

.transactions-profile-wrapper {
    display: flex;
    align-items: center;
}

.transactions-amount-info {
    margin-left: auto;
}
