.transactionsBoxWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    margin-bottom: 1em;
}

.detailsBox {
    display: flex;
    align-content: space-between;
    justify-content: space-between;

}

.detailsWrapper {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    flex-direction: column;
    width: calc(100% - 60px);

}
