:root {
    --home-padding: 1em;
    --home-gap: 1em;
    --hero-aspect-ratio: 93.52/53.2;
}

.homeContainer {
    background: linear-gradient(to right, #b3cde0, #9ad2ee);
    display: flex;
    width: 100dvw;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: var(--home-padding);
    gap: var(--home-gap);
}

.loginContainer {
    display: none;
}
.textContainer {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 0;
    gap: var(--home-gap);
}
.homeContainer h1 {
    margin: 0;
    font-size: 1.6em;
    text-align: center;
}

.buttonContainer {
    font-size: 0.6em;
}

.buttonContainer a {
    z-index: 1;
}
.heroSection {
    flex: 0 0 calc(100vh / var(--hero-aspect-ratio));
    position: relative;
    text-align: center;
}

.scalingSvg {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
    aspect-ratio: var(--hero-aspect-ratio);
    object-fit: cover;
    left: 0;
    top: calc(100dvh / var(--hero-aspect-ratio) / 2);
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    gap: var(--home-gap);
    width: 100%;
    z-index: 4em;
}

@media screen and (min-width: 700px) and (max-width: 1099px) {
    :root {
        --home-padding: 3em;
    }
    .scalingSvg {
        position: absolute;
        width: 90%;
        height: 90%;
        left: 50%;
        top: 60%;
        transform: translate(-50%, -50%);
        z-index: 0;
    }
    .homeContainer {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: var(--home-padding);
    }

    .loginContainer {
        display: none;
    }
    .heroSection {
        flex: 1 0 calc(100vh / var(--hero-aspect-ratio));
        position: relative;
    }

    .titleContainer {
        flex: 0 0 max(400px);
        justify-content: start;
        gap: 2em;
    }
    .homeContainer h1 {
        margin: 0;
        font-size: 3em;
        text-align: center;
    }

    .buttonContainer {
        font-size: 1em;
    }
    .buttonContainer {
        gap: 0.5em;
        margin: 0;
        width: 100%;
        justify-content: center;
    }
    .buttonContainer a {
        z-index: 1;
    }
}

@media (min-width: 1100px) {
    :root {
        --home-padding: 2em;
    }
    .scalingSvg {
        position: absolute;
        width: 90%;
        height: 90%;
        left: 50%;
        top: 60%;
        transform: translate(-50%, -50%);
        z-index: 0;
    }

    .homeContainer {
        flex-direction: row;
        justify-content: space-between;
        align-items: inherit;
        padding: var(--home-padding);
        gap: var(--home-gap);
    }
    .homeContainer h1 {
        margin: 0;
        font-size: 3em;
        text-align: center;
    }
    .loginContainer {
        display: flex;
        flex-direction: column;
        align-self: center;
        margin: 0 auto;
        gap: 2em;
    }

    .loginContainer h1 {
        margin: 0;
        font-size: 1.8em;
        text-align: center;
    }

    .loginContainer p {
        text-align: center;
    }

    .titleContainer {
        justify-content: center;
        gap: var(--home-gap);
    }

    .titleContainer h1 {
        margin: 0;
        margin-bottom: 2em;
    }

    .heroSection {
        flex: 0 0 800px;
        width: 100%;
        position: relative;
        border-radius: 2em;
        animation: rainbowBorder 12s ease-in-out infinite;
    }

    .buttonContainer a {
        z-index: 1;
    }

    .buttonContainer {
        margin-top: 2em;
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 1em;
    }
}