.homeContainer {
    background: linear-gradient(
        to right,
        #b3cde0,
        #9ad2ee
    ); /* Lighter blue gradient */
    width: 100dvw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 1em;
}

.textContainer {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 0;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.titleContainer h1 {
    margin: 0;
    margin-top: 1em;
    text-align: center;
    font-size: 1.8em;
    text-wrap: balance;
}

.titleContainer p {
    text-align: center;
    text-wrap: balance;
}

.scalingSvgContainer {
    flex: 0 0 350px;
    width: 100%;
    position: relative;
    padding: 0;
    padding-bottom: 56.92%; /* Aspect ratio 93.52:53.2 */
    /* override this inline for aspect ratio other than square */
}

.scalingSvg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    /* bottom: 1em; */
}
.buttonContainer {
    gap: 1em;
    width: 100%;
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media screen and (min-width: 700px) and (max-width: 1100px) {
    html {
        font-size: 14px;
    }

    .homeContainer {
        align-items: center;
        justify-content: center;
        padding: 1em;
        gap: 0em;
    }

    .textContainer {
        flex: auto;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        height: auto;
        margin: 0 3em;
    }

    .scalingSvgContainer {
        flex: 0 0 550px;
        width: 100%;
        position: relative;
        padding: 0;
        padding-bottom: 56.92%; /* Aspect ratio 93.52:53.2 */
        /* override this inline for aspect ratio other than square */
    }

    .titleContainer {
        flex: 0 0 max(400px);
        justify-content: start;
        gap: 2em;
    }

    .buttonContainer {
        gap: 0.5em;
        margin: 0em;
        width: 100%;
        display: flex;
        justify-content: end;
    }
}

@media (min-width: 1100px) {
    html {
        font-size: 16px;
    }

    .homeContainer {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 2em;
        gap: 1em;
    }
    .titleContainer {
        justify-content: center;
        gap: 1em;
    }
    .titleContainer h1 {
        margin: 0;
        margin-bottom: 2em;
    }
    
    .scalingSvgContainer {
        flex: 0 0 800px;
        width: 100%;
        position: relative;
        padding: 0;
        padding-bottom: 56.92%; /* Aspect ratio 93.52:53.2 */
        /* override this inline for aspect ratio other than square */
    }
    .textContainer {
        flex: auto;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: auto;

    }


    .buttonContainer {
        margin-top: 2em;
        gap: 1em;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
