/*---------------------------------------
  SITE FOOTER              
-----------------------------------------*/
.footer_container {
    border-top: 1px solid #ddd;
    background-color: #eeeeee;
}

.copyright_text {
    text-align: center;
    text-wrap: balance;
    color: var(--logo--text-color);
    padding-bottom: 0;
}

.site-footer {
    flex: 0 0 max(60px);
    display: flex;
    justify-content: center;
    align-items: center;
}