:root {
    --active-color: #e5e5e6;
    --white-color: #ffffff;
    --primary-color: #007bff;

    --border-radius: 0.25em;
    --border-radius-medium: 0.5em;
    --border-radius-large: 1em;
}

.navLink {
    display: inline-block;
    position: relative;
    font-size: inherit;
    font-weight: inherit;
    width: calc(100% - 2em);

    border-radius: var(--border-radius);
    margin-bottom: 0.1em;
    margin-left: 1em;
    padding: 0.7em;
    color: var(--p-color);
    transition: all 0.3s;
}

.sidebarIcons {
    padding-right: 1em;
}

.navLink.active,
.navLink:hover {
    background: var(--active-color);
    color: var(--primary-color);
}
