.bentoMainColumn {
    flex: 1 0 min(200px);
    flex-direction: column;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.bentoGridPlans {
    flex: 1 0 200px;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.bentoCell {
    flex: 1 0 200px;
}

.bentoFillColumn {
    flex: 5 0 min(200px);
    flex-direction: column;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.bentoSideColumn {
    flex: 0 0 max(150px);
    flex-direction: column;
    display: flex;
    flex-wrap: inline-flex;
    gap: 0.5em;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    width: 100dvw;
    margin: 1em;
    gap: 0.5em;
    height: calc(100dvh - 70px);
}
.contentContainerProfileTab {
    display: flex;
    width: 100dvw;
    margin: 1em;
    gap: 0.5em;
    height: calc(100dvh - 80px);
}

@media (min-width: 800px) {
    .contentContainer {
        flex-direction: row;
    }
}
@media (min-width: 1100px) {
    .contentContainer {
        flex-direction: row;
    }
    .bentoSideColumn {
        flex: 0 0 max(250px);
    }
}