.headerDropdownContainer {
    position: inherit;
    display: flex;
    /* Use 'align-items: stretch' to allow items to fill the container vertically */
    align-items: stretch; 
    justify-content: center;
    gap: 1em;
    height: 100%;
}
