.headerDropdownContainer {
    position: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 0.8em;
    margin-right: 1em;
    height: 100%;
}
